<a href="https://colab.research.google.com/github/mjbugalhao/colab/blob/main/MyFirstColabNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import time
print(time.ctime())

Sun Sep 29 13:24:53 2024

This is **bold**.
This is *italic*.
This is ~strikethrough~.

$\sqrt{3x-1}+(1+x)^2$

In [3]:
%%shell
# Declare the shell variable
message='A Great Tutorial on Colab by Tutorialspoint!'

# Use echo to display the message
echo -e "$message\n"

A Great Tutorial on Colab by Tutorialspoint!

In [4]:
%%shell
# Declare the shell variable
message='A Great Tutorial on Colab by Tutorialspoint!'

# Use echo to display the message
echo -e "$message\n$message"

A Great Tutorial on Colab by Tutorialspoint!
A Great Tutorial on Colab by Tutorialspoint!

In [6]:
!wget https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv -P "/content/drive/My Drive/app"

--2024-09-29 19:22:34--  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60302 (59K) [text/plain]
Saving to: ‘/content/drive/My Drive/app/titanic.csv’

titanic.csv         100%[===================>]  58.89K  --.-KB/s    in 0.01s

2024-09-29 19:22:34 (5.93 MB/s) - ‘/content/drive/My Drive/app/titanic.csv’ saved [60302/60302]

In [8]:
import pandas as pd
data = pd.read_csv("/content/drive/My Drive/app/titanic.csv")
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C